<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.dao.MasterAreaMapper" >
  <resultMap id="BaseResultMap" type="com.fintech.model.MasterArea" >
    <id column="AREA_ID" property="areaId" jdbcType="INTEGER" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="PARENT_AREA_ID" property="parentAreaId" jdbcType="INTEGER" />
    <result column="AREA_NAME_ABBR" property="areaNameAbbr" jdbcType="VARCHAR" />
    <result column="AREA_LEVEL" property="areaLevel" jdbcType="CHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="CHAR" />
    <result column="ZIP_CODE" property="zipCode" jdbcType="CHAR" />
    <result column="AREA_FULL_NAME" property="areaFullName" jdbcType="VARCHAR" />
    <result column="AREA_LNG" property="areaLng" jdbcType="VARCHAR" />
    <result column="AREA_LAT" property="areaLat" jdbcType="VARCHAR" />
    <result column="AREA_PINYIN" property="areaPinyin" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    AREA_ID, AREA_NAME, PARENT_AREA_ID, AREA_NAME_ABBR, AREA_LEVEL, CITY_CODE, ZIP_CODE, 
    AREA_FULL_NAME, AREA_LNG, AREA_LAT, AREA_PINYIN, CREATE_TIME, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from master_area
    where AREA_ID = #{areaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from master_area
    where AREA_ID = #{areaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fintech.model.MasterArea" >
    insert into master_area (AREA_ID, AREA_NAME, PARENT_AREA_ID, 
      AREA_NAME_ABBR, AREA_LEVEL, CITY_CODE, 
      ZIP_CODE, AREA_FULL_NAME, AREA_LNG, 
      AREA_LAT, AREA_PINYIN, CREATE_TIME, 
      UPDATETIME)
    values (#{areaId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, #{parentAreaId,jdbcType=INTEGER}, 
      #{areaNameAbbr,jdbcType=VARCHAR}, #{areaLevel,jdbcType=CHAR}, #{cityCode,jdbcType=CHAR}, 
      #{zipCode,jdbcType=CHAR}, #{areaFullName,jdbcType=VARCHAR}, #{areaLng,jdbcType=VARCHAR}, 
      #{areaLat,jdbcType=VARCHAR}, #{areaPinyin,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fintech.model.MasterArea" >
    insert into master_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="areaName != null" >
        AREA_NAME,
      </if>
      <if test="parentAreaId != null" >
        PARENT_AREA_ID,
      </if>
      <if test="areaNameAbbr != null" >
        AREA_NAME_ABBR,
      </if>
      <if test="areaLevel != null" >
        AREA_LEVEL,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="zipCode != null" >
        ZIP_CODE,
      </if>
      <if test="areaFullName != null" >
        AREA_FULL_NAME,
      </if>
      <if test="areaLng != null" >
        AREA_LNG,
      </if>
      <if test="areaLat != null" >
        AREA_LAT,
      </if>
      <if test="areaPinyin != null" >
        AREA_PINYIN,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="parentAreaId != null" >
        #{parentAreaId,jdbcType=INTEGER},
      </if>
      <if test="areaNameAbbr != null" >
        #{areaNameAbbr,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        #{areaLevel,jdbcType=CHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=CHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=CHAR},
      </if>
      <if test="areaFullName != null" >
        #{areaFullName,jdbcType=VARCHAR},
      </if>
      <if test="areaLng != null" >
        #{areaLng,jdbcType=VARCHAR},
      </if>
      <if test="areaLat != null" >
        #{areaLat,jdbcType=VARCHAR},
      </if>
      <if test="areaPinyin != null" >
        #{areaPinyin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fintech.model.MasterArea" >
    update master_area
    <set >
      <if test="areaName != null" >
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="parentAreaId != null" >
        PARENT_AREA_ID = #{parentAreaId,jdbcType=INTEGER},
      </if>
      <if test="areaNameAbbr != null" >
        AREA_NAME_ABBR = #{areaNameAbbr,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        AREA_LEVEL = #{areaLevel,jdbcType=CHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=CHAR},
      </if>
      <if test="zipCode != null" >
        ZIP_CODE = #{zipCode,jdbcType=CHAR},
      </if>
      <if test="areaFullName != null" >
        AREA_FULL_NAME = #{areaFullName,jdbcType=VARCHAR},
      </if>
      <if test="areaLng != null" >
        AREA_LNG = #{areaLng,jdbcType=VARCHAR},
      </if>
      <if test="areaLat != null" >
        AREA_LAT = #{areaLat,jdbcType=VARCHAR},
      </if>
      <if test="areaPinyin != null" >
        AREA_PINYIN = #{areaPinyin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AREA_ID = #{areaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fintech.model.MasterArea" >
    update master_area
    set AREA_NAME = #{areaName,jdbcType=VARCHAR},
      PARENT_AREA_ID = #{parentAreaId,jdbcType=INTEGER},
      AREA_NAME_ABBR = #{areaNameAbbr,jdbcType=VARCHAR},
      AREA_LEVEL = #{areaLevel,jdbcType=CHAR},
      CITY_CODE = #{cityCode,jdbcType=CHAR},
      ZIP_CODE = #{zipCode,jdbcType=CHAR},
      AREA_FULL_NAME = #{areaFullName,jdbcType=VARCHAR},
      AREA_LNG = #{areaLng,jdbcType=VARCHAR},
      AREA_LAT = #{areaLat,jdbcType=VARCHAR},
      AREA_PINYIN = #{areaPinyin,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where AREA_ID = #{areaId,jdbcType=INTEGER}
  </update>
</mapper>